@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueceu a senha?";
}

<div class="breadcrumb-area breadcrumb-padding">
	<div class="container custom-container-one">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumb-contents">				
					<ul class="breadcrumb-contents-list list-style-none">
						<li class="breadcrumb-contents-list-item"> <a asp-page="Index" class="breadcrumb-contents-list-item-link"> Home </a> </li>
						<li class="breadcrumb-contents-list-item"> Esqueci minha senha </li>
					</ul>
				</div>
			</div>
		</div>

<h2 class="mt-4">Esqueci minha senha</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" class="form-floating">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-1">
                <input asp-for="InputForgot.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="InputForgot.UserName" class="form-label"></label>
                <span asp-validation-for="InputForgot.UserName" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-danger mb-2">Recuperar minha senha</button>
        </form>
    </div>
</div>

	</div>
</div>