@page
@model Festejar.Pages.LoginModel
@{
    Layout = null;
}

<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style-login.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Login</title>
</head>
<body>
    <div class="wrapper">
        <form method="post">
            <h1>Login</h1>          
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="input-box">
                <input asp-for="LoginInput.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="E-mail" />
                <span asp-validation-for="LoginInput.UserName" class="text-danger"></span>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input asp-for="LoginInput.Password" type="password" autocomplete="current-password" aria-required="true" placeholder="Senha" />
                <span asp-validation-for="LoginInput.Password" class="text-danger"></span>
                <i class='bx bxs-lock-alt'></i>
                @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@              
            </div>

            <div class="remember-forgot">
                <label asp-for="LoginInput.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="LoginInput.RememberMe" />
                    @Html.DisplayNameFor(m => m.LoginInput.RememberMe)
                </label>
                <a id="forgot-password" asp-page="./ForgotPassword">Esqueceu a senha?</a>
            </div>

            <button type="submit" asp-page-handler="Login" class="w-100 btn btn-lg btn-primary">Entrar</button>
            <button type="submit" asp-page-handler="Cancelar" class="w-100 btn btn-lg btn-danger">Sair</button>

            <div class="registrer-link">
                <p>Não possui uma conta? <a asp-page-handler="RedirectRegister">Registrar-se</a> </p>
            </div>
        </form>
    </div>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>
